.nav
{
    position:sticky;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    text-align: right;

}
a
{ 
  font-size: 12px;
    text-transform: uppercase;
    padding-right: 4mm;
    color: whitesmoke;
    text-decoration: none;
    word-spacing: 4mm;

}
h1{
    color: brown;
    text-align: center;
    word-spacing: 4mm;
    text-decoration: none;

}
footer{
  float: inline-end;
    width: 100%;
    line-break: 5mm;
    word-spacing: 1.5mm;
    padding-top: 2mm;
    padding-bottom: 2mm;
    background-color: black;
    color: whitesmoke;
    font-weight: lighter;
    font-size: 12px;
    align-self: center;
}
p{
    text-align: justify;
}
.homerow{
    display: flex;
    padding: 20px;
  }
  .homecolumn {
    flex: 70% 30%;
    padding: 20px;
  }
  .aboutrow{
    display: flex;
  }
  .aboutcolumn {
    flex: 50%;
    padding: 10px;
  }
  .srow{
    display: flex;
  }
  .scolumn {
    flex: 30%;
    padding: 30px;
    font-size: 14px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .crow{
    display: flex;
  }
  .ccolumn {
    flex: 50%;
    padding: 20px;
    font-size: 14px;
    padding-right: 50px;
    padding-left: 50px;
  }
  button {
      height: 40px;
      width: 180px;
    border: none;
    word-spacing: 2mm;
    background-color: blue;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
  }